@import "../_vars";
@import "../_funcs";

@mixin applyNavigationBar() {
    width: 100%;
    background: $main;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) 3fr minmax(2rem, 1fr);
    justify-content: space-between;
    border-bottom: $border;

    [data-btn] {
        background-color: $green;

        &.disabled {
            background-color: $black;

            iconify-icon {
                opacity: 0 !important;
            }
        }
    }

    div.level-monsters {
        column-gap: 5rem;

        p.level {
            [data-display] {
                margin-left: 1rem;
            }
        }

        div.remain {
            iconify-icon {
                margin-left: 0.5rem;
                font-size: 1.5rem;
            }
        }
    }

    & > * {
        font-size: 2rem;
    }

    &, & > * {
        height: fit-content;
    }
}
