$main: #352e2a;

$white: #f9e8db;
$green: #4c6a4d;
$red: #df3f40;
$black: darken($main, 10);

.white { color: $white; }
.green { color: $green; }
.red { color: $red; }
.black { color: $black; }
.main { color: $main; }

.bg-main { background-color: $main }
.bg-white { background-color: $white }
.bg-green { background-color: $green }
.bg-red { background-color: $red }
.bg-black { background-color: $black }

$border: 0.25rem solid $white;
